{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Dev Tools</title>
  <link rel="icon" href="{% static '/images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>

  <div class="scrollToTop-btn">
    <i class="fas fa-angle-up"></i>
  </div>

  <header>
    <a href="#" class="brand">Azamkhodja</a>
    <div class="menu-btn"></div>
    <div class="navigation">
      <a href="#main">HOME</a>
      <a href="#about">ABOUT</a>
      <a href="#skills">SKILLS</a>
      <a href="#services">SERVICES</a>
      <a href="#work">WORK</a>
      <a href="#contact">CONTACT</a>
    </div>
  </header>

  <section class="main" id="main">
    <div class="content">
      <h2>Hello, I'm <br> <span>Azamkhodja Akhmedov</span> </h2>
      <div class="animated-text">
        <h3>Web Developer</h3>
        <h3>FullStack Developer</h3>
        <h3>Backend Developer</h3>
        <h3>Frontend Developer</h3>
      </div>
      <a href="#work" class="btn">See My Work</a>
      <div class="media-icons">
        <a href="https://www.facebook.com/profile.php?id=61550282420757&locale=ru_RU" target="_blank"><i
            class="fab fa-facebook"></i></a>
        <a href="https://github.com/akhmedovazamkhodja" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/%D0%B0%D1%8A%D0%B7%D0%B0%D0%BC%D1%85%D1%83%D0%B6%D0%B0-%D0%B0%D1%85%D0%BC%D0%B5%D0%B4%D0%BE%D0%B2-9335112b6/"
          target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://instagram.com/azamkhodja_akhmedov/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://t.me/azamkhodja_akhmedov" target="_blank"><i class="fab fa-telegram"></i></a>
      </div>
    </div>
  </section>

  <section class="about" id="about">
    <div class="title reveal">
      <div class="section-title">About Me</div>
    </div>
    <div class="content">
      <div class="column col-left reveal">
        <div class="img-card">
          <img src="{% static '/images/avatar.png' %}" alt="">
        </div>
      </div>
      <div class="column col-right reveal">
        <h2 class="content-title">Hey there! I'm Azamkhodja Akhmedov</h2>
        <p class="paragraph-text">Azamkhodja Akhmedov is a web developer with expertise in building web applications
          using Python and JavaScript. His primary focus is on backend development with Django and Django REST Framework
          and creating dynamic, user-friendly interfaces using React. Azamkhodja is passionate about developing
          efficient, scalable, and maintainable systems that meet client requirements.</p> <br>
        <p class="paragraph-text">With a solid understanding of database management and API integration, he has
          experience optimizing performance and ensuring seamless communication between system components. He is skilled
          in using tools like Git for version control and has successfully deployed projects using platforms such as
          PythonAnywhere and Heroku.</p> <br>
        <p class="paragraph-text">Azamkhodja has worked on several projects, including an e-commerce platform where he
          integrated a React frontend with a Django backend. He also developed a dynamic filtering system for
          location-based data, enhancing the user experience for a real estate platform.</p> <br>
        <p class="paragraph-text">Always eager to expand his skillset, Azamkhodja is currently exploring new
          technologies like TypeScript, Vue.js, and Dart/Flutter. With a proactive approach to learning and
          problem-solving, he aims to deliver high-quality solutions in both independent and collaborative environments.
        </p> <br>
      </div>
    </div>
  </section>

  <section class="skills" id="skills">
    <div class="title reveal">
      <div class="section-title">My Skills</div>
    </div>
    <div class="content">
      <div class="column col-left reveal">
        <h2 class="content-title">My Skills and Experiences</h2>
        <p>I have strong skills in front-end and back-end development, enabling me to build scalable and user-friendly
          web applications. My expertise lies in Python and JavaScript, complemented by proficiency in modern frameworks
          like Django and React. With a deep understanding of HTML and CSS, I craft responsive and visually appealing
          interfaces. Additionally, I am experienced in backend optimization, database management, and API development.
        </p>
      </div>
      <div class="column col-right reveal">
        <div class="bar">
          <div class="info">
            <span>HTML</span>
            <span>90%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>CSS</span>
            <span>80%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>JavaScript</span>
            <span>70%</span>
          </div>
          <div class="line javascript"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>Python</span>
            <span>80%</span>
          </div>
          <div class="line python"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>Backend Developer</span>
            <span>60%</span>
          </div>
          <div class="line backend"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>Frontend Developer</span>
            <span>55%</span>
          </div>
          <div class="line frontend"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="services" id="services">
    <div class="title reveal">
      <div class="section-title">My Services</div>
      <p>As a skilled developer, I provide tailored solutions to meet diverse client needs. Whether it's building secure
        backend systems, creating full-stack web applications, or designing user-friendly interfaces, I ensure
        high-quality results through efficient development practices and a focus on user satisfaction.</p>
    </div>
    <div class="content">
      <div class="card reveal">
        <div class="service-icon">
          <i class="fas fa-database"></i>
        </div>
        <div class="info">
          <h3>Backend Developer</h3>
          <p>I specialize in building robust and scalable backend systems. From creating RESTful APIs with Django REST
            Framework to managing databases efficiently, I ensure the server-side logic is optimized for performance and
            security.</p>
        </div>
      </div>
      <div class="card reveal">
        <div class="service-icon">
          <i class="fas fa-file-code"></i>
        </div>
        <div class="info">
          <h3>Fullstack Developer</h3>
          <p>As a fullstack developer, I bring together backend and frontend expertise to create seamless web
            applications. By integrating React with Django, I deliver responsive, interactive, and fully functional
            applications.</p>
        </div>
      </div>
      <div class="card reveal">
        <div class="service-icon">
          <i class="fas fa-code"></i>
        </div>
        <div class="info">
          <h3>Frontend Developer</h3>
          <p>With a strong focus on user experience, I craft visually appealing and responsive interfaces using HTML,
            CSS, and JavaScript. My goal is to ensure every user interaction feels intuitive and engaging.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="work" id="work">
    <div class="title reveal">
      <div class="section-title">My Work</div>
    </div>
    <div class="content">
      {% if myworks %}
      {% for mywork in myworks %}
      <a href="{{mywork.link}}" target="_blank" style="text-decoration:none" class="card reveal">
        <div class="card-img">
          <img src="{{mywork.screenshot.url}}" alt="">
        </div>
        <div class="name">{{mywork.name}}</div>
        <div class="title">{{mywork.app_cat}}</div>
      </a>
      {% endfor %}
      {% else %}
      <div class="reveal">
        <h1 style="color: white">Will Be Added Soon</h1>
      </div>
      {% endif %}
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="title reveal">
      <div class="section-title">Contact Me</div>
    </div>
    <div class="content">
      <div class="row">
        <div class="card reveal">
          <div class="contact-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="info">
            <h3>Address</h3>
            <span>Bukhara City</span>
          </div>
        </div>
        <div class="card reveal">
          <div class="contact-icon">
            <i class="fas fa-phone"></i>
          </div>
          <div class="info">
            <h3>Phone</h3>
            <span>+998(93)626-00-91</span>
          </div>
        </div>
        <div class="card reveal">
          <div class="contact-icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="info">
            <h3>Email Address</h3>
            <span>azamxoja0091@gmail.com</span>
          </div>
        </div>
        <div class="card reveal">
          <div class="contact-icon">
            <i class="fas fa-globe"></i>
          </div>
          <div class="info">
            <h3>Website</h3>
            <span>MyPortfolio.org</span>
          </div>
        </div>
      </div>
      <div class="row">
        <form method="post" class="contact-form reveal">
          <h3>Send Message</h3>
          {% csrf_token %}
          <div class="input-box">
            <input type="text" placeholder="Name" name="name" required>
          </div>
          <div class="input-box">
            <input type="email" placeholder="Email" name="email" required>
          </div>
          <div class="input-box">
            <textarea rows="8" cols="80" placeholder="Message" name="message" required></textarea>
          </div>
          {% if is_success %}
          <div style="color: #28a745;text-align: center; padding-bottom: 10px;">
            <p>Your message has been received.</p>
          </div>
          {% endif %}
          <div class="input-box">
            <input type="submit" class="send-btn" value="Send">
          </div>
        </form>
      </div>
    </div>
  </section>

  <footer class="footer">
    <span class="footer-title">Azamkhodja Akhmedov</span>
    <p>Copyright @2024. All Rights Reserved.</p>
  </footer>

  <script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>

</html>